
  .navbar {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    background-image: linear-gradient(to right, rgb(0, 140, 255), rgb(0, 6, 34) );
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 120px; 
  }

  .navbar-home {
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    padding: 10px 40px 10px 10px;
  }

  .navbar-home img {
    width: 60px;
    height: 60px;
  }

  .navbar-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0; 
  }

  .navlink {
    color: #edf1f2;
    font-size: 26px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 1.5em;
    transition: 0.5s;
    width: 100%;
  }

  .navlink:hover {
    background-color: #008299;
    text-decoration: underline;
    font-size: 28px;
  }




  /* RESPONSIVE RULES; */

  @media screen and (max-width: 1024px) {
    
    .navlink {
      font-size: 24px;
      margin-right: 20px;
    }
    .navlink:hover {
      font-size: 26px;
    }
  }

  @media screen and (max-width: 768px) {

    .navbar {
      grid-template-columns: 100px auto;
    }

    .navbar-home {
      justify-content: center;
      margin-left: 10px;
      padding: 10px;
    }

    .navlink {
      font-size: 22px;
      padding: 10px;
      margin-bottom: 10px; 
    }

    .navlink:hover {
      font-size: 24px;
    }

    .navbar-nav {
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;
      display: grid;
      grid-template-columns: 140px 140px;
      grid-row-gap: 20px;
      }
  }

  @media screen and (max-width: 470px) {
    .navbar {
      grid-template-columns: auto 140px;
    }
    .navlink {
      font-size: 20px;
      line-height: 1.3;
    }
    .navlink:hover {
      font-size: 20px;
      background-color: transparent;
    }
    .navbar-nav {
      display: block;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
    .navbar-home {
      margin-left: 5px;
    }
    .navbar-home img {
      width: 50px;
      height: 50px;
    }
  }

  /* @media screen and (max-width: 360px) {
    .navbar {
      grid-template-columns: auto 150px;
    }
    .navlink {
      font-size: 18px;
    }
    .navbar-nav {
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  } */
