.navbar {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  background-image: linear-gradient(to right, rgb(0, 140, 255), rgb(0, 6, 34) );
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100px;
  
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  margin: 0;
  max-width: 100%;
  height: 100%;
}

.navlink {
  color: #edf1f2;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  margin-right: 1.5em;
  transition: 0.5s;
  width: 100%;
}

.navlink:hover {
  background-color: #008299;
}

/* RESPONSIVE RULES; */

@media screen and (max-width: 1024px) {
  .navbar-nav {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .navlink {
    font-size: 22px;
    padding: 10px;
    margin-right: 1em;
  }
}

@media screen and (max-width: 768px) {
  .navbar-nav {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 415px) {
  .navlink {
    font-size: 18px;
  }
  .navbar-nav {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 360px) {
  .navlink {
    font-size: 16px;
  }
  .navbar-nav {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}



