
  .footer {
    background-color: #00144b;
    background-image: linear-gradient(to right, rgb(0, 140, 255), rgb(0, 6, 34) );
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 50px;
  }
  
  .footer-nav {
    max-width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin: 0;   
  }

  .footer-text { 
    color: #c1c3c4;
    font-size: 18px;
    font-weight: bold;
    margin-left: 2em;
  }

  .social-footer, img {
    height: 45px;
    width: 45px;
    justify-self: flex-end;
    padding: 25px;
  }

  @media screen and (max-width: 760px) {
    .footer-text { 
      font-size: 16px;
      font-weight: normal;
      margin-left: 0.5em;
    }
    .social-footer, img {
      height: 35px;
      width: 35px;
      padding: 10px;
    }
  }

  @media screen and (max-width: 440px) {
    .footer-text { 
      font-size: 14px;
      font-weight: normal;
      margin-left: 0.1em;
    }
    .social-footer, img {
      height: 30px;
      width: 30px;
      padding: 5px;
    }
  }