.lister-main-header {
    justify-self: start;
    margin-top: 3em;
    margin-left: 1em;
    font-size: 48px;
  }

  @media screen and (max-width: 600px) {
    .lister-main-header {
      margin-left: 0.5em;
      margin-bottom: 0.3em;
      font-size: 36px;
    }
  }

  .lister-body-container {
    margin: 2em;
    margin-left: 3em;
  }

  .lister-body-text {
    line-height: 1.5;
    font-size: 20px;
    text-align: justify;
    font-family: 'Lato';
  }

  @media screen and (max-width: 750px) {

    .lister-body-text {
      font-size: 18px;
    }
  }

  .lister-banner {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-self: center;
    width: 100%;
  }
  
  .lister-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  
  }
  
  .lister-item {
    box-shadow: 0 4px 4px 0 #00000033;
    max-width: 360px;
    height: 600px;
    text-align: center;                  
    padding: 1em;
    margin: 1.5em;
    background-color: #f8f8ff;
  }
  
  .lister-item img {
    width: 260px;
    height: 180px;
    border: 1px solid black;
    border-radius: 20px 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding: 0;
  }
  
  .lister-title {
    color: #555454;
    font-size: 20px;
    font-family: "Nunito";
    padding-top: 1.75em;
    text-align: center;
  }

  .lister-detail {
    text-align: center;                  
    font-size: 18px;
  }

  @media screen and (max-width: 850px) {
    .lister-item {
    
      max-width: 300px;
      height: 500px;              
      padding: 0.5em;
      margin: 0.5em;
  }

  .lister-item img {
    width: 240px;
    height: 160px;
    margin-top: 0.5em;
    padding: 0;
  }

  .lister-title {
    font-size: 18px;
    padding-top: 1em;
  }

  .lister-detail {              
    font-size: 16px;
  }
}

  .link-lister {
    border: 1px solid black;
    background-color: #00144b;
    color: #ffffff;
    padding: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 17px;
    font-family: "Nunito";
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    
  }
  
  .link-lister:hover {
    background-color: #ffffff;
    color: #00144b;
  }

  .map-link {
    border: 1px solid black;
    background-color: #00144b;
    color: #ffffff;
    padding: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 17px;
    font-family: "Nunito";
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    
  }
  
  .map-link:hover {
    background-color: #ffffff;
    color: #00144b;
  }

  