header {
  height: 100vh;
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("../../assets/homeimg/dunbaraerial.jpg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3em;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;  
}

h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 4rem;
  white-space: nowrap;
  font-weight: bold;
}

@media screen and (max-width: 750px) {
  h1 {
    font-size: 3rem;
  }
  header{
    height: 70vh;
  }
}

@media screen and (max-width: 575px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
    margin: 0;
    font-size: 1.5rem;
    padding-top: 3em;
  }

.home-information {
  margin: 3em;
}

.homepage-body-text {
  line-height: 1.5;
  font-size: 20px;
  text-align: justify;
  font-family: 'Nunito';
}

@media screen and (max-width: 750px) {

.homepage-body-text {
  font-size: 18px;
}
}

.nav {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-self: center;
  width: 100%;
}

.menu-banner-style {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;

}

.menu-home {
  box-shadow: 0 2px 2px 0 #00000033;
  max-width: 300px;
  text-align: center;
  padding: 1em;
  background-color: #f8f8ff;
  transition: 0.5s;
  margin: 1em;

}

.menu-home:hover {
  background-color: #b9f2fc;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.menu-home img {
  width: 280px;
  height: 200px;
  border: 1px solid black;
  border-radius: 20px 50px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  
}

.menu-title-home {
  background-color: black;
  color: white;
  font-size: 26px;
  font-family: "Nunito";
  padding: 0.3em;
  border: solid white;
  margin-top: 0.5em;

}

@media screen and (max-width: 800px) {
  .menu-home {
    max-width: 220px;
    padding: 0.2em;
    margin: 0.5em;
  }

  .menu-home img {
    width: 200px;
    height: 150px;  
  }

  .menu-title-home {
    font-size: 20px;
    font-family: "Nunito";
    padding: 0.1em;
    border: solid white;
    margin-top: 0.2em;
  }
}